<div data-hook="admin_shipping_categories_form_3plcentral">
  <div class="form-group">
    <%= f.label :threeplcentral_create do %>
      <%= f.check_box :threeplcentral_create %>
      <%= Spree.t(:threeplcentral_create) %>
    <%- end %>
  </div>
</div>
